<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns="http://www.springframework.org/schema/security"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/security
        http://www.springframework.org/schema/security/spring-security.xsd">

    <http pattern="/login.jsp" security="none"/>
    <http auto-config="true">
        <!--ROLE_USER角色才可以访问的url-->
        <intercept-url pattern="/**" access="ROLE_USER"/>
        <!--
            自定义login页面
            1. login-page表示登录页面是哪个
            2. login-processing-url表示登录跳转到哪个url，默认是j-spring-security-check
            3. username-parameter表示用户名的字段名称，默认是j_username
            4. password-parameter表示密码的字段名称，默认是j_password
        -->
        <form-login login-page="/login.jsp"
                    login-processing-url="/login.do"
                    username-parameter="username"
                    password-parameter="password"
                    always-use-default-target="true"/>
    </http>

    <authentication-manager>
        <authentication-provider>
            <user-service>
                <!-- 其中noop代表使用NoOpPasswordEncoder进行密码解析，不进行加密，可选的还有bcrypt -->
                <user name="jimi" password="{noop}jimi" authorities="ROLE_USER, ROLE_ADMIN"/>
                <user name="bob" password="{noop}bob" authorities="ROLE_USER"/>
            </user-service>
        </authentication-provider>
    </authentication-manager>

</beans:beans>